.header {
	width: 100%;
	height: 10%;
	padding: 0 1em;
	background-color: #4078f2;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	z-index: 1;
	position: relative;
}

.main {
	width: 60%;
	padding: 0 1em;
	float: left;
}

.aside {
	width: 40%;
	padding: 0 1em;
	float: right;
}