<!DOCTYPE html>
<html>
<head>
	<!-- et cetera -->
</head>
<body>
	<div id="app"></div>
	<script src="bundle.js"></script>
	<script>
		const app = document.getElementById('app');
		ReactDOM.render(app, <App />);
	</script>
</body>
</html>