<!DOCTYPE html>
<html>
<head>
	<!-- et cetera -->
	<script src="bundle.js"></script>
	<script>
		document.addEventListener('DOMContentLoaded',
			function () {
				const app = document.getElementById('app');
				ReactDOM.render(app, <App />);
			}
		);
	</script>
</head>
<body>
	<div id="app"></div>
</body>
</html>