<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible"
		content="IE=edge,chrome=1" />
	<meta charset="utf-8">

	<!-- et cetera -->

	@RenderSection("scripts", false)
</head>
<body>


</body>